<footer>
  <div class="footer-container">

    <div class="col col-marca">
      <img 
        src="https://res.cloudinary.com/dxuk9bogw/image/upload/v1773170926/logo-footer_l8u1fv.png" 
        alt="SueroHome" 
      />
      <p>Vendemos y aplicamos sueros médicos según tu necesidad, siempre bajo receta médica.</p>
    </div>

    <div class="col col-links">
      <h4>Enlaces</h4>
      <ul>
        <li><a (click)="scrollTo('inicio')">Inicio</a></li>
        <li><a (click)="scrollTo('malestares')">Malestares</a></li>
        <li><a (click)="scrollTo('servicios')">Servicios</a></li>
        <li><a (click)="scrollTo('contacto')">Contáctanos</a></li>
        <li><a routerLink="/libro-reclamaciones"><img src="https://res.cloudinary.com/dxuk9bogw/image/upload/v1776155530/7f85d794-58b5-47d0-850d-d06179563fb2.png" alt="Libro de Reclamaciones" class="libro-reclamos-img" /></a></li>
      </ul>
    </div>

    <div class="col col-contacto">
      <h4>Contacto</h4>
      <a class="telefono" href="tel:+519832781298">
        <i class="pi pi-phone"></i>
        +51 983 278 1298
      </a>
      <button class="btn-wsp" (click)="abrirWhatsapp()">
        <i class="pi pi-whatsapp"></i>
        WhatsApp
      </button>
    </div>

  </div>

  <div class="footer-bottom">
    <span>© {{ anio }} Solvegrades Technology | Todos los derechos reservados.</span>
    <a href="https://www.instagram.com/solvegrades.com_/" target="_blank" class="solvegrades-link">
      <img src="https://res.cloudinary.com/dp1vgjhsq/image/upload/v1778834655/WhatsApp_Image_2026-05-15_at_3.21.36_AM-removebg-preview_wtgmkr.png" alt="SolveGrades" />
    </a>
  </div>
</footer>