@use '../../../styles/variables.scss' as *;

footer {
  background: #00203B;
  padding: 40px 120px;

  @media (max-width: 768px) {
    padding: 40px 24px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }
  }

  .logo img {
    height: 50px;
    object-fit: contain;
  }

  .copy {
    font-family: $font-family;
    font-weight: 400;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.6);
  }
}